<div class="container" ng-controller="authController@signup as Signup">
    <form class="form-signin" name="signup" ng-submit="Signup.submit(signup)">
        <h2 class="form-signin-heading">Please sign up</h2>

        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" class="form-control" id="first-name" ng-model="Signup.user.name.first" placeholder="First Name" />
        </div>

        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" class="form-control" id="last-name" ng-model="Signup.user.name.last" placeholder="Last Name" />
        </div>

        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" ng-model="Signup.user.email" placeholder="Email Address" />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" ng-model="Signup.user.password" placeholder="Password" />
        </div>

        <div class="form-group">
            <label for="password">Confirm Password</label>
            <input type="password" class="form-control" id="password" ng-model="Signup.user.confirm_password" placeholder="Confirm Password" />
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Create Account</button>
    </form>
</div>